<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteNetLib" version="0.7.7.2" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinmac20" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Net.NetworkInformation" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="xamarinmac20" />
</packages>